<div id="<%= dom_id music %>">
  <p>
    <strong>Name:</strong>
    <%= music.name %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= music.artist %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= music.album %>
  </p>

  <p>
    <strong>Yearofrelease:</strong>
    <%= music.yearofrelease %>
  </p>

</div>
