
<h1>Music Collection</h1>
<table class="table table-striped table-light table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Year Of release</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @musics.each do |music| %>
      <tr>
        <td><%= music.name %>
        </td>
        <td><%= music.artist %>
        </td>
        <td><%= music.album %>
        </td>
        <td><%= music.yearofrelease %>
        </td>
        <td><%= link_to "Show this music", music, class:"btn btn-dark" %></td>
        </tr>
        <% end %>
      </tbody>
  </table>

    <br>

    <%= link_to 'New Music', new_music_path, class:"btn btn-dark" %>
